html{
  height: 100%;
  width: 100%;
    }
body {
    display: table;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-top: 0px;
    border-bottom:  0px;
  }
#rgb{
    display: block;
      font-size: 5rem;
  }
h1{
    font-size: 3rem;
    margin: 0;
    text-align: center;
    
  }
#result{
    display: inline-block;
    width: 20%;
    color:black;
  }
.top{ 
     left: 0%;
     right: 0%;
     height: 25%;
     background: rgb(247, 243, 15);
     padding: 0;
     margin: 0px;
     }
#bottom{
    border: none;
    padding: 0;
    left: 0%;
    right: 0%;
    height: 75%;
    margin: 0px;
    background: black;
    }  
#mid{
      left: 0%;
      right: 0%;
      height: 30px;
      margin: 0px;
      background: #ffffff;
      text-align: center;
      padding: 0;
      }       
button{;
      height: 100%;
      }
#align{
  text-align: center;
  font-size: 30px;
  color: rgb(39, 20, 20);
  margin: 0px;
  }
#footer{
    width: 600px;
    margin : 0 auto;
    padding: 20px 0 0 0;
    background-color: black;.
  }
.box{
    width: 30%;
    float: left;
    margin: 10px;
    padding: 0 0 30% 0;
    border-radius: 20%;
    }
.h{
      background-color: 	#232323;
    }    
  